@media (min-width: 800px) {
  body {
    background-color: #C8C8C8;
  }

  div.outer_box {
    width: 500px;
    padding: 0px;
    margin: 0px auto;
  }

  div.figure_box {
    background-color: white;
    box-shadow: 1px 1px 4px #AAA, 0 0 1em #AAA, 2px 2px 0.5em #AAA;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 500px;
    min-height: 450px;
  }

  div.figure_title {
    font-family: "Open Sans",sans-serif;
    color: #444;
    margin-bottom: 10px;
    text-align: center;
    font-weight: 600;
    font-size: 15pt;
  }

  div.plot_box {
  }
}

@media (max-width: 800px) {
  html {
    overflow-x: hidden;
  }

  body {
    font-family: "Open Sans",sans-serif;
    margin: 0px;
  }

  div.outer_box {
    padding: 0px;
    margin: 0px auto;
    width: 100% !important;
  }

  div.figure_box {
    border-bottom: 1px solid #CCC;
    margin: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 10px;
    padding-bottom: 20px;
  }

  div.figure_title {
    text-align: center;
    font-weight: 600;
    font-size: 15pt;
    width: 100% !important;
  }

  div.plot_box {
    width: 100% !important;
  }
}
