html {
  overflow-x: hidden;
}

body {
  font-family: "Open Sans",sans-serif;
  margin: 0px;
}

div.outer_box {
  padding: 0px;
  margin: 0px auto;
  width: 100%;
}

div.figure_box {
  border-bottom: 1px solid #CCC;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 10px;
}

div.figure_title {
  margin-bottom: 30px;
  text-align: center;
  font-weight: 600;
  font-size: 15pt;
  width: 100%;
}

div.plot_box {
}

svg {
  font: 10px sans-serif;
}

.line {
  fill: none;
  stroke: #000;
  stroke-width: 1.5px;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.title {
  text-align: center;
}
