<!DOCTYPE html>
<html>

<head>

<title>Console</title>

<meta charset="utf-8">
<meta name="viewport" content="initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0, width=device-width"/>

<link href="{{ static_url('css/console.css') }}" type="text/css" rel="stylesheet"/>

</head>

<body>

<div id="outer_box"></div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vega@4.3.0/build/vega.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vega-lite@3.0.0-rc8/build/vega-lite.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vega-embed@3.20.0/build/vega-embed.js"></script>
<script src="{{ static_url('js/console.js') }}" type="text/javascript"></script>

</body>

</html>
