<html>
  <head>
    <title>D3 test</title>
    <script src="{{ static_url('js/jquery.min.js') }}" type="text/javascript"></script>
    <script src="{{ static_url('js/d3.v3.js') }}" type="text/javascript"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <script type="text/javascript">
      // detect mobile or desktop
      var uagent = navigator.userAgent.toLowerCase();
      var deviceMobile = "(android|iphone|ipod|ipad)";
      if (uagent.search(deviceMobile) > -1) {
        mobile = true;
        cssFile = "{{ static_url('css/mobile.css') }}";
      } else {
        mobile = false;
        cssFile = "{{ static_url('css/desktop.css') }}";
      }
      var cssLine = "<link href=\"" + cssFile + "\" type=\"text/css\" rel=\"stylesheet\"/>";
      document.write(cssLine);
    </script>
  </head>

  <body>

    <div class="outer_box"></div>

    <script type="text/javascript">
      var nplots = 0;
      var box = d3.select("div.outer_box");

      if (mobile) {
        var base_width = screen.width-20;
        var base_height = 0.5*screen.height-20;
      } else {
        var base_width = 500;
        var base_height = 300;
      }
      var margin = {top: 10, right: 10, bottom: 10, left: 10};
      var width = base_width - margin.left - margin.right;
      var height = base_height - margin.top - margin.bottom;

      function ensure_plot(plabel,options)
      {
        if (box.select("div#"+plabel)[0][0]==null) {
          nplots++;

          if ("title" in options) {
            fig_title = options["title"];
          } else {
            fig_title = plabel;
          }

          var fig = box.append("div").attr("id",plabel).attr("class","figure_box");
          var title = fig.append("div").attr("class","figure_title").html(fig_title);
          var plot = fig.append("div").attr("class","plot_box");
          var svg = plot.append("svg")
                       .attr("width",base_width)
                       .attr("height",base_height)
                       .append("g")
                       .attr("transform","translate("+margin.left+","+margin.top+")");
          var path = svg.append("g")
                        .append("path")
                        .attr("class", "line")
                        .attr("id",plabel);
        }
      }

      function update_data(plabel,data) {
        n = data.length;
        ymin = d3.min(data);
        ymax = d3.max(data);
        x = d3.scale.linear().domain([0,n-1]).range([0,width]);
        y = d3.scale.linear().domain([ymin,ymax]).range([height,0]);
        line = d3.svg.line().x(function(d, i) { return x(i); }).y(function(d, i) { return y(d); }).interpolate('monotone');
        //box.select("path#"+plabel).data([data]).transition().attr("d",line).duration(100);
        box.select("path#"+plabel).data([data]).transition().attr("d",line).duration(0);
      }

      function connect()
      {
        if ('MozWebSocket' in window) {
          WebSocket = MozWebSocket;
        }
        if ('WebSocket' in window) {
          var ws_con = "ws://" + window.location.host + "/mec";
          console.log(ws_con);

          ws = new WebSocket(ws_con);

          ws.onopen = function() {
            console.log('websocket connected!');
          };

          ws.onmessage = function (evt) {
            var receivedMsg = evt.data;

            //console.log(receivedMsg);

            var json_data = JSON.parse(receivedMsg);
            if (json_data)
            {
              cmd = json_data["cmd"]
              if (cmd == "update_plot") {
                var plabel = json_data["label"]
                var x_values = json_data["x_values"]
                var y_values = json_data["y_values"]

                var options;
                if ("options" in json_data) {
                  options = json_data["options"];
                } else {
                  options = {};
                }

                /*
                var valArray = new Array();
                for (i in x_values) {
                  valArray[i] = [x_values[i],y_values[i]];
                }
                */

                ensure_plot(plabel,options);
                update_data(plabel,y_values);
              }
            }
          };

          ws.onclose = function() {
            console.log('websocket closed');
          };
        } else {
          console.log('Sorry, your browser does not support websockets.');
        }
      }

      function disconnect()
      {
        if (ws) {
          ws.close();
        }
      }

      connect();

    </script>
  </body>
</html>
