<html>

<head>
  <title>Websocket test</title>
  <script src="{{ static_url('js/jquery.min.js') }}" type="text/javascript"></script>
  <script src="{{ static_url('js/jquery.flot.js') }}" type="text/javascript"></script>
</head>

<style>
.plot {
  width:500px;
  height:400px;
}
</style>

<body>

  <h1>Plots</h1>
  <table id="plotTable"><tbody></tbody></table>

  <script type="text/javascript">
    var ws;
    var plots = new Array();

    var options = {
        grid: {
            borderWidth: 1,
            minBorderMargin: 20,
            labelMargin: 10,
			backgroundColor: {
				colors: ["#fff", "#e4f4f4"]
			},
            margin: {
                top: 8,
                bottom: 20,
                left: 20
            },
        },
        series: {
            lines: {
                lineWidth: 2,
                fill: true,
            },
            shadowSize: 0
        },
		yaxis: {
			min: 0.5,
			max: 1.5
		},
    };

    function connect()
    {
      if ('MozWebSocket' in window) {
        WebSocket = MozWebSocket;
      }
      if ('WebSocket' in window) {
        var ws_con = "ws://" + window.location.host + "/mec";
        console.log(ws_con);

        ws = new WebSocket(ws_con);

        ws.onopen = function() {
          console.log('websocket connected!');
        };

        ws.onmessage = function (evt) {
          var receivedMsg = evt.data;

          //console.log(receivedMsg);

          var json_data = JSON.parse(receivedMsg);
          if (json_data)
          {
            cmd = json_data["cmd"]
            if (cmd == "update_plot") {
              pname = json_data["name"]
              x_values = json_data["x_values"]
              y_values = json_data["y_values"]

              var valArray = new Array();
              for (i in x_values) {
                  valArray[i] = [x_values[i],y_values[i]];
              }

              var plot = get_plot(pname);
              plot.setData([valArray]);
              plot.setupGrid();
              plot.draw();
            }
          }
        };

        ws.onclose = function() {
          console.log('websocket closed');
        };
      } else {
        console.log('Sorry, your browser does not support websockets.');
      }
    }

    function disconnect()
    {
      if (ws) {
        ws.close();
      }
    }

    function get_plot(pname)
    {
        var plot;

        if (pname in plots) {
          plot = plots[pname];
        } else {
          $('#plotTable > tbody:last').after('<tr><td><div style=\"text-align:center;\">'+pname+'<div id=\"'+pname+'\" class=\"plot\"></div></div></td></tr>');
          plot = $.plot($("#"+pname+".plot"),[],options);
          plots[pname] = plot;
        }

        return plot;
    }

    connect();

  </script>

</body>

</html>

